psycopg[binary, pool]==3.2.5
Django==5.1.7
django-formtools==2.5.1
python-decouple==3.8
beautifulsoup4==4.13.3
google-genai==1.5.0
xhtml2pdf==0.2.17
markdown2==2.5.3
gunicorn==23.0.0
whitenoise==6.9.0